h4 {
    background-color: aquamarine;
    color: gold;
    font-size: 50px;
    text-align: justify;
    font-family: 'Lucida Handwriting', cursive;
    border: 3px solid darkgray;
    border-radius: 20px;
    padding: 20px;
}