/* 4 - External */
/* Ordem de prioridade do CSS inline -> internal == external */

body {
    padding-bottom: 500px;
}

h3 {
    color: aqua;
    font-size: 35px;
}

.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

#exemplo {
    background-color: darkgray; /* id prevalesce sobre classe */
    font-size: 30px;
    font-family: 'Lucida Handwriting', cursive;
    border: 2px solid cyan;
}

/* 10 - ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 5px solid blue;
}

#algum-titulo {
    border-bottom: 15px solid green;
}

.color-name-class {
    color: crimson;
}

#color-name-id {
    color: darkcyan;
}

.hex {
    color: #14ceb5;
}

.hex2 {
    color: #1c8a94;
}

.simple-hex {
    color: #333;
}

.simple-hex2 {
    color: #A5F;
}

.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(152, 46, 1);
}

.rgba {
    color: rgb(60, 45, 200, 1);
}

.rgba2 {
    color: rgba(60, 45, 200, 0.5);
}

.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl2 {
    color: hsl(44, 56%, 33%);
}

.bg {
    color: #14ceb5;
    background-color: beige;
}

.bg2 {
    color: #14ceb5;
    background-color: #959595;
}

.bg-opacity {
    background-color: green;
    opacity: 0.3;
    color: aquamarine;
}

.bg-opacity2 {
    background-color: green;
    opacity: 1;
    color: aquamarine;
}

.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #14ceb5;
}

.bg-image {
    background-image: url("../../2_html/img/nature.jpg");
    padding: 10px;
    color: #fff;
}

.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../../2_html/img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

.height-width {
    height: 100px;
    width: 200px;
    background-color: red;
}

.height-width2 {
    height: 100px;
    background-color: cyan;
}

.without-padding {
    background-color: #111;
    color: #FFF;
}

.padding {
    padding: 20px;
    color: #14ceb5;
}

.padding-individual {
    background-color: #222;
    color: #FFF;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 60px;
}

.shorthand-padding {
    background-color: cyan;
    width: 1500px;
    padding: 20px 15px 10px 30px;
}

.shorthand-padding2 {
    background-color: #959595;
    width: 1500px;
    padding: 10px 20px;
}

.without-border-box {
    background-color: #444;
    color: #FFF;
    width: 600px;
    padding: 50px;
}

.border-box {
    background-color: #1c8a94;
    color: #444;
    width: 600px;
    padding: 50px;
    box-sizing: border-box;
}

.border {
    font-size: 40px;
    border: 5px solid red;
    width: 400px;
    padding: 10px;
}

.border2 {
    font-size: 40px;
    border: 2px dotted #931;
    width: 400px;
    padding: 10px;
}

.border-left {
    border-left: 20px solid red;
    background-color: orange;
    padding: 10px;
    width: max-content;
}

.border-bottom {
    border-bottom: 20px solid red;
    background-color: orange;
    padding: 10px;
    width: fit-content;
}

.rounded-p {
    font-size: 30px;
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
    width: 800px;
}

.rounded-p2 {
    font-size: 25px;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 35px;
    width: 800px;
}

.margin {
    font-size: 40px;
    width: 600px;
    margin: 10px;
}

.margin-top {
    font-size: 40px;
    width: 600px;
    margin-top: 50px;
    padding: 10px;
    background-color: #444;
}

.margin-shorthand {
    font-size: 40px;
    width: 600px;
    background-color: #14ceb5;
    margin: 5px 10px 15px 20px;
}

.box-model {
    border: 4px dotted red;
    padding: 20px;
    width: 900px;
}

.box-model ul {
    border: none;
}

.box-model p, 
.box-model li {
    background-color: lightblue;
    color: #252222;
    margin: 10px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 800px;
    height: 50px;
}